__pycache__/*.*
etl/__pycache__/*.*
*Zone.Identifier
vectors/*.*
*/ __pycache__/*.*
/LLM/rawtrainedmodel/
**/__pycache__/
**/__pycache__/*.*
**/*.pyc
 Data/etlUtils/__pycache__/*.*
LLM/__pycache__/*.*